<div id="<%= dom_id productt %>">
  <p>
    <strong>Name:</strong>
    <%= productt.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= productt.price %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= productt.vendor %>
  </p>

</div>
