<p style="color: green"><%= notice %></p>

<h1>Productts</h1>

<div id="productts">
  <% @productts.each do |productt| %>
    <%= render productt %>
    <p>
      <%= link_to "Show this productt", productt %>
    </p>
  <% end %>
</div>

<%= link_to "New productt", new_productt_path %>
